<%= stylesheet_link_tag "abouts", :media => "all" %>
<div class="about">
    <div class="explanation">
        <div class="exp">
            <h1>MatcHub</h1>
            <h2>Feel easy to enjoy baseball!</h2>
            <div class="expl">
                <h4>練習試合を組むのがめんどくさい・・・</h4>
                <h4>まだ見ぬチームと試合を組みたい・・・</h4>
                <h4>球場が確保できなくて活動ができない・・・</h4>
                <p>そんな悩みを解決しましょう</p>
            </div>
        </div>
        <p>MatcHubは練習試合マッチング効率化のためのサイトです</p>
        <p>MatcHubで理想の練習試合を設定しましょう</p>
    </div>
    <div class=step1>
        <h1>STEP1<h1>
        <div class="sstep1">
            <h2>ユーザー登録をしよう！</h2>
            <h6>新規登録をクリックして、ユーザー登録をしましょう</h6>
            <h6>任意のメールアドレス（存在していなくてもOK）とパスワードをメンバーに共有すれば</h6>
            <h6>誰でも使えるようになります</h6>
            <h6>マイページを編集して、チームの情報をみんなに伝えましょう</h6>
            <h6>インスタグラムの欄にはチームのアカウントのURLを入力してください</h6>
        </div>
    </div>
    <div class=step2>
        <h1>STEP2<h1>
        <div class="sstep2">
            <h2>練習試合を募集しよう！</h2>
            <h6>新規投稿をクリックして、募集したい練習試合の情報を入力しましょう</h6>
            <h6>球場が確保できていないときは、球場を未定としておいてください</h6>
            <h6>ダブルブッキングを避けるために募集ステータスを適宜変更してください</h6>
            <h6>練習試合が組めたら投稿を削除してください</h6>
        </div>
    </div>
    <div class=step3>
        <h1>STEP3<h1>
        <div class="sstep3">
            <h2>練習試合を探そう！</h2>
            <h6>トップページや検索ページから練習試合を探しましょう</h6>
            <h6>気になる相手の情報をクリックすると募集試合の詳細を見れます</h6>
            <h6>相手のインスタグラムに飛んでDMで練習試合を組みましょう</h6>
        </div>
    </div>
</div>